
body {
  width: 80%;
  margin: auto;
  background-color: #e4e4e4;
}

nav {
  width: 65%;
}

nav li.home {
  /* background-color: aqua; */
  padding: 5px 8px;
  background: -webkit-linear-gradient(#01FDC1, rgb(83, 83, 136));
  border-radius: 5px;
  /* background: -webkit-radial-gradient(#01FDC1, rgb(83, 83, 136)); */
}

/* nav li.home:hover {
  
}

nav li.about:hover {
  
}

nav li.portfolio:hover {
  
}

nav li.contact:hover {
  
} */

li.home a {
  color: #e4e4e4;
}

nav ul, nav .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav .logo img {
  width: 45px;
  height: 30px;
}

nav .logo h3 {
  font-size: 1.8rem; 
  margin-left: 5px;
  font-family: 'Merriweather', serif;
}

nav ul {
  padding: 0;
}

nav li {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  list-style: none;
}

nav ul {
  padding: 0;
}

main .me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.me h1 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

main .me h5 {
  font-size: 1.3rem;
}

main .reach {
  margin: 2.5rem 0;
  font-size: 1.5rem;
}

main .reach a {
  color: #747474;
  margin-right: .7rem;
}

#about {
  display: flex;
  margin: 4rem 0;
}

#about img {
  width: 300px;
  height: 250px;
}

#about div {
  margin: 5rem;
}